* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --number-color: orangered;
  --sign-color: indigo;
  --game-font: "Fredoka One";
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #fffdf7;
  font-size: 1.4rem;
  height: 100%;
}



/* LOGIN & REGISTRATION CHILDREN */

.webcam-container {
  height: 65vh;
  background-color: #fffdf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam {
  background-color: rgb(185, 177, 177);
  margin-bottom: 4rem;
  width: 40rem;
  height: 30rem;
}

.registration-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdc921;
  padding: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

/* LOGIN EDUCATORS */

.login-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99d6ea;
}

.login-container label {
  display: block;
}

/* HOMEPAGE GAME */
.main-container {
  display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
  flex-grow: 1;
}

.game-container {
  font-family: var(--game-font);
  background-color: #99d98c;
  display: grid;
  grid-template-columns: 82% 18%;
  flex-grow: 1;
}

.equation {
  background-color: thistle;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}

.equation .number {
  color: var(--number-color);
}

.equation .sign {
  color: var(--sign-color);
}

.answer-options {
  box-sizing: border-box;
  font-size: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}

.answer-options p {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #ee9b00;
  transition: 1s;
  flex-grow: 1;

  /* ------ to be changed with a relative value ------ */
  line-height: 213px;
}

.answer-options p:first-child {
  margin-top: 0px;
}

.answer-options p:hover {
  background-color: red;
}

/* EDUCATORDASHBOARD.CSS */



/* style for take canvas to take a photo */

#video {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

.camera {
  width: 340px;
  display: inline-block;
}

.contentarea {
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}
