* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root {
  --number-color: #ffc300;
  --sign-color: indigo;
  --game-font: 'Fredoka One';
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
body {
  background-color: #fffdf7;
  font-size: 1.4rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* LOGIN & REGISTRATION CHILDREN */
.webcam-container {
  height: 65vh;
  background-color: #fffdf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.webcam {
  background-color: rgb(185, 177, 177);
  margin-bottom: 4rem;
  width: 40rem;
  height: 30rem;
}
.registration-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdc921;
  padding: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

/* LOGIN EDUCATORS */
.login-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99d6ea;
}
.login-container label {
  display: block;
}
/* HOMEPAGE GAME */
main {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-container {
  margin-top: 2rem;
  font-family: var(--game-font);
  background-color: #457b9d;  
  display: flex;
  justify-content: center;
  height: 50rem;
  width: 80rem;
  /* grid-template-columns: 72% 8%;
  flex-grow: 1; */
}
.equation {
  background-color: #e5e5e5;
  font-size: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
  width: 70rem;
}
.equation .number {
  color: var(--number-color);
}
.equation .sign {
  color: var(--sign-color);
}
.answer-options {
  box-sizing: border-box;
  font-size: 6rem;
  display: flex;
  color: orangered;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}
.answer-options p {
  cursor: pointer;
  text-align: center;
  width: 15rem;
  height: 5rem;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #48bfe3 ;
  transition: 1s;
  flex-grow: 1;
  line-height: 150px;
}
.answer-options p:first-child {
  margin-top: 0px;
}
.answer-options p:hover {
  background-color: #fcbf49;
}
/* EDUCATORDASHBOARD.CSS */
.statistics-container {
  background-color: #fffdf7;
  height: 80vh;
  padding: 2rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-title {
  margin-left: 3rem;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.statistics-container article {
  background-color: #008c99;
  height: 30rem;
  width: 90rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.statistics-container article div {
  background-color: lavenderblush;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51rem;
  height: 17rem;
}
.statistics-container article img {
  display: block;
  background-color: lightsalmon;
  width: 260px;
  height: 170px;
}
.hide {
  display: none;
}
/* style for take canvas to take a photo */
#video {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}
.camera {
  width: 340px;
  display: inline-block;
}
.contentarea {
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}
/*Dashboard educator*/
.overview-container {
  background-color: #008c99;
  width: 100%;
  height: 30vh;
}