* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --number-color: orangered;
  --sign-color: indigo;
  --game-font: "Fredoka One";
}

html {
   
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #fffdf7;
  font-size: 1.4rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  line-height: 10vh;
  padding-left: 2vw;
}

.logo a {
  font-size: 18px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 76vw;
}

.navigation {
  align-self: flex-end;
  margin-right: 2vw;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  padding-left: 2vw;
  line-height: 10vh;
  font-size: 20px;
  font-weight: bold;
}

nav ul li:hover {
  cursor: pointer;
  color: #fff;
}

header {
  background-color: #6798c0;
  height: 10vh;
}

header h1 {
  background-color: #6798c0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN & REGISTRATION CHILDREN */

.webcam-container {
  height: 65vh;
  background-color: #fffdf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam {
  background-color: rgb(185, 177, 177);
  margin-bottom: 4rem;
  width: 40rem;
  height: 30rem;
}

.registration-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdc921;
  padding: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.footer-account {
  height: 35vh;
  background-color: #fffdf7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: #6798c0;
  width: 120rem;
  height: 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container div {
  background-color: rgb(185, 177, 177);
  width: 15rem;
  height: 13rem;
}

/* LOGIN EDUCATORS */

.login-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99d6ea;
}

.login-container label {
  display: block;
}

/* HOMEPAGE GAME */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.game-container {
  font-family: var(--game-font);
  background-color: #99d98c;
  display: grid;
  grid-template-columns: 82% 18%;
  flex-grow: 1;
}

.equation {
  background-color: thistle;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}

.equation .number {
  color: var(--number-color);
}

.equation .sign {
  color: var(--sign-color);
}

.answer-options {
  box-sizing: border-box;
  font-size: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
}

.answer-options p {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #ee9b00;
  transition: 1s;
  flex-grow: 1;

  /* ------ to be changed with a relative value ------ */
  line-height: 213px;
}

.answer-options p:first-child {
  margin-top: 0px;
}

.answer-options p:hover {
  background-color: red;
}

/* EDUCATORDASHBOARD.CSS */

.statistics-container {
  background-color: #fffdf7;
  height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-title {
  margin-left: 3rem;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.statistics-container article {
  background-color: #fdd85d;
  height: 30rem;
  width: 90rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.statistics-container article div {
  background-color: lavenderblush;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51rem;
  height: 17rem;
}

.statistics-container article img {
  display: block;
  background-color: lightsalmon;
  width: 260px;
  height: 170px;
}

.hide {
  display: none;
}

/* style for take canvas to take a photo */

#video {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

.camera {
  width: 340px;
  display: inline-block;
}

.contentarea {
  font-size: 16px;
  font-family: Arial;
  text-align: center;
}
